<template>
  <q-layout>
    <q-page-container>
      <q-page class="q-pa-lg">
        <h5 class="text-center">Daftar Mealbox</h5>
        <q-btn
          color="primary"
          icon="add"
          @click="toogleDialogAdd(false)"
          padding="xs xs"
          class="q-mt-md q-mb-md block q-ml-auto q-mr-none"
        />
        <q-table
          title="Mealbox"
          :loading="boxData.status.loading"
          :data="boxData.data.data"
          :columns="column"
          no-data-label="No data found"
        >
          <template v-slot:loading>
            <q-inner-loading showing color="primary" />
          </template>
          <template v-slot:top>
            <h6 class="q-ma-none">Mealbox</h6>
            <q-space />
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="id" :props="props">{{ props.row.id }}</q-td>
              <q-td key="jenis" :props="props">{{ props.row.jenis }}</q-td>
              <q-td key="status" :props="props">{{ getLastStatus(props.row) }}</q-td>
              <q-td key="keterangan" :props="props">{{ props.row.keterangan }}</q-td>
              <q-td key="action" :props="props">
                <q-icon name="edit" color="primary" size="sm" @click="editMealbox(props.row)" />
                <q-icon name="delete" color="red" size="sm" @click="deleteMealbox(props.row.id)" />
              </q-td>
            </q-tr>
          </template>
        </q-table>

        <q-dialog v-model="dialogAdd" position="bottom">
          <q-card style="width: 350px">
            <q-card-section class="row items-center no-wrap">
              <div>
                <h6 class="q-mt-none q-mb-sm">{{isEdit?'Edit Mealbox':'Tambah Mealbox'}}</h6>
                <q-form @submit.prevent="submitAddMealbox">
                  <q-input v-model="jenis" label="Jenis" :rules="[required]" />
                  <q-input v-model="keterangan" label="Keterangan" />

                  <q-btn
                    label="Tambahkan"
                    icon-right="send"
                    color="primary"
                    class="q-mt-md"
                    :loading="boxData.add.status.loading"
                    padding="xs"
                    type="submit"
                  >
                    <template v-slot:loading>
                      <q-spinner />
                    </template>
                  </q-btn>
                </q-form>
              </div>

              <q-space />
            </q-card-section>
          </q-card>
        </q-dialog>

        <q-dialog v-model="dialogDelete" title="Apakah kamu yakin?">
          <q-card style="width: 350px">
            <q-card-section class="items-center no-wrap">
              <h6 class="q-mt-none q-mb-sm">Apakah kamu yakin?</h6>
              <p>Kamu akan menghapus mealbox dengan ID: {{ deleteId }}</p>
            </q-card-section>
            <q-card-actions align="right">
              <q-btn color="secondary" label="Cancel" @click="toogleDialogDelete" />
              <q-btn
                color="primary"
                label="OK"
                @click="submitDelete"
                :loading="boxData.delete.status.loading"
              >
                <template v-slot:loading>
                  <q-spinner />
                </template>
              </q-btn>
            </q-card-actions>
          </q-card>
        </q-dialog>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapSetter, mapActions } from "vuex";
export default {
  data() {
    return {
      dialogAdd: false,
      dialogDelete: false,
      deleteId: "",
      editId: "",
      jenis: "",
      keterangan: "",
      isEdit: false,
      jenisOptions: ["kecil", "besar"],
      column: [
        {
          name: "id",
          field: (row) => row.id,
          label: "ID",
          align: "left",
          sortable: true,
        },
        {
          name: "jenis",
          field: (row) => row.jenis,
          label: "Jenis",
          align: "left",
          sortable: true,
        },
        {
          name: "status",
          field: (row) => row.status,
          label: "Status Terakhir",
          align: "left",
          sortable: true,
        },
        {
          name: "keterangan",
          field: (row) => row.keterangan,
          label: "Keterangan",
          align: "left",
          sortable: true,
        },
        {
          name: "action",
          field: (row) => row.id,
          label: "Aksi",
          align: "left",
        },
      ],
    };
  },
  computed: {
    boxData() {
      return this.$store.state.admin.box;
    },
  },
  created() {
    this.$store.dispatch("admin/getBoxData");
  },
  methods: {
    toogleDialogAdd(edit = false) {
      this.isEdit = edit;
      if (!this.isEdit) {
        this.jenis = "";
        this.keterangan = "";
      }
      this.dialogAdd = !this.dialogAdd;
    },
    toogleDialogDelete() {
      this.dialogDelete = !this.dialogDelete;
    },
    required(val) {
      if (val == "") {
        return "Pilih terlebih dahulu";
      }
    },
    async submitAddMealbox() {
      if (this.isEdit) {
        await this.$store.dispatch("admin/editBoxData", {
          id: this.editId,
          jenis: this.jenis,
          keterangan: this.keterangan,
        });
        this.jenis = "";
        this.keterangan = "";
        this.toogleDialogAdd();
        await this.$store.dispatch("admin/getBoxData");
      } else {
        await this.$store.dispatch("admin/addBoxData", {
          jenis: this.jenis,
          keterangan: this.keterangan,
        });
        this.jenis = "";
        this.keterangan = "";
        this.toogleDialogAdd();
        await this.$store.dispatch("admin/getBoxData");
      }
    },

    deleteMealbox(id) {
      this.deleteId = id;
      this.toogleDialogDelete();
    },
    editMealbox(box) {
      this.editId = box.id;
      this.jenis = box.jenis;
      this.keterangan = box.keterangan;
      this.toogleDialogAdd(true);
    },
    getLastStatus(row) {
      if (row.status == "keluar") {
        return `Diterima oleh ${row.nama_lengkap}`;
      } else {
        return "Di dapur";
      }
    },
    async submitDelete() {
      await this.$store.dispatch("admin/deleteBoxData", { id: this.deleteId });
      this.deleteId = "";
      this.toogleDialogDelete();
      await this.$store.dispatch("admin/getBoxData");
    },
  },
};
</script>

<style></style>
