<template>
  <q-layout>
    <q-page-container>
      <q-page class="q-pa-lg">
        <h5 class="text-center">Daftar Sirkulasi</h5>
        <q-table
          title="Sirkulasi"
          :loading="circulationData.status.loading"
          :data="circulationData.data.data"
          :columns="column"
          no-data-label="No data found"
        >
          <template v-slot:loading>
            <q-inner-loading showing color="primary" />
          </template>
        </q-table>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapSetter, mapActions } from "vuex";
import moment from "moment";
export default {
  data() {
    return {
      loading: false,
      initialPagination: {
        sortBy: "desc",
        descending: false,
        page: 1,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      column: [
        {
          name: "date_created",
          field: (row) => row.date_created,
          label: "Tanggal",
          align: "left",
          sortable: true,
          format: (val, row) => this.getTime(row.date_created),
        },
        {
          name: "nama_personel",
          field: (row) => row.nama_personel,
          label: "Nama Personel",
          align: "left",
          sortable: true,
        },
        {
          name: "nama_pelanggan",
          field: (row) => row.nama_pelanggan,
          label: "Nama Pelanggan",
          align: "left",
          sortable: true,
        },
        {
          name: "id_mealbox",
          field: (row) => row.id_mealbox,
          label: "ID Mealbox",
          align: "left",
          sortable: true,
        },

        {
          name: "jenis",
          field: (row) => row.jenis,
          label: "Jenis",
          align: "left",
          sortable: true,
        },

        {
          name: "status",
          field: (row) => row.status,
          label: "Status",
          align: "left",
          sortable: true,
        },
      ],
    };
  },
  computed: {
    circulationData() {
      return this.$store.state.admin.circulation;
    },
  },
  created() {
    this.$store.dispatch("admin/getCirculationData");
  },
  methods: {
    getTime(row) {
      moment.locale("id");
      return moment(row).format("dddd, Do MMMM YYYY h:mm");
    },
  },
};
</script>

<style></style>
