<template>
  <q-layout>
    <q-page-container>
      <q-page class="q-pa-lg">
        <h5 class="text-center">Daftar Pelanggan</h5>
        <q-btn
          color="primary"
          icon="add"
          @click="toogleDialogAdd(false)"
          padding="xs xs"
          class="q-mt-md q-mb-md block q-ml-auto q-mr-none"
        />
        <q-table
          title="Pelanggan"
          :loading="customerData.status.loading"
          :data="customerData.data.data"
          :columns="column"
          :filter="filter"
          no-data-label="No data found"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="nama_lengkap" :props="props">{{ props.row.nama_lengkap }}</q-td>
              <q-td
                key="sisa"
                :props="props"
                :class="getMealboxColor(props.row.mealbox)"
                @click="triggerDetail(props.row.id,props.row.mealbox)"
              >{{ props.row.mealbox }}</q-td>
              <q-td key="no_hp" :props="props">
                <a
                  target="_blank"
                  class="text-primary"
                  :href="
                    getWhatsappLink(
                      props.row.no_hp,
                      props.row.nama_lengkap,
                      props.row.mealbox
                    )
                  "
                >{{ props.row.no_hp }}</a>
              </q-td>
              <q-td key="action" :props="props">
                <q-icon name="edit" color="primary" size="sm" @click="editCustomer(props.row)" />
                <q-icon
                  name="delete"
                  color="red"
                  size="sm"
                  @click="deleteCustomer(props.row.id, props.row.nama_lengkap)"
                />
              </q-td>
            </q-tr>
          </template>
          <template v-slot:loading>
            <q-inner-loading showing color="primary" />
          </template>
          <template v-slot:top>
            <h6 class="q-ma-none">Pelanggan</h6>
            <q-space />
            <q-input
              borderless
              dense
              debounce="300"
              color="primary"
              v-model="filter"
              placeholder="Search"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
        </q-table>

        <q-dialog v-model="dialogAdd" position="bottom">
          <q-card style="width: 350px">
            <q-card-section class="row items-center no-wrap">
              <div>
                <h6 class="q-mt-none q-mb-sm">{{ isEdit?'Edit Pelanggan':'Tambah Pelanggan' }}</h6>
                <q-form @submit.prevent="submitAddCustomer">
                  <q-input v-model="nama" label="Nama Lengkap" :rules="[required]" type="text" />
                  <q-input v-model="no_hp" label="No. HP" :rules="[required]" type="number" />

                  <q-btn
                    label="Tambahkan"
                    icon-right="send"
                    color="primary"
                    class="q-mt-md"
                    :loading="customerData.add.status.loading"
                    padding="xs"
                    type="submit"
                  >
                    <template v-slot:loading>
                      <q-spinner />
                    </template>
                  </q-btn>
                </q-form>
              </div>

              <q-space />
            </q-card-section>
          </q-card>
        </q-dialog>
        <q-dialog v-model="dialogDelete" title="Apakah kamu yakin?">
          <q-card>
            <q-card-section class="items-center no-wrap">
              <h6 class="q-mt-none q-mb-sm">Apakah kamu yakin?</h6>
              <p>Kamu akan menghapus {{ deleteName }} dari daftar pelanggan</p>
            </q-card-section>
            <q-card-actions align="right">
              <q-btn color="secondary" label="Cancel" @click="toogleDialogDelete" />
              <q-btn
                color="primary"
                label="OK"
                @click="submitDeleteCustomer"
                :loading="customerData.delete.status.loading"
              >
                <template v-slot:loading>
                  <q-spinner />
                </template>
              </q-btn>
            </q-card-actions>
          </q-card>
        </q-dialog>
        <q-dialog v-model="dialogDetail">
          <q-card>
            <q-card-section class="items-center no-wrap">
              <q-table
                title="Detail Sirkulasi"
                :loading="circulationDetail.status.loading"
                :data="circulationDetail.data.data"
                :columns="columnDetail"
                no-data-label="No data found"
              >
                <template v-slot:loading>
                  <q-inner-loading showing color="primary" />
                </template>
              </q-table>
            </q-card-section>
            <q-card-actions align="right">
              <q-btn color="primary" label="OK" @click="toogleDialogDetail">
                <template v-slot:loading>
                  <q-spinner />
                </template>
              </q-btn>
            </q-card-actions>
          </q-card>
        </q-dialog>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapSetter, mapActions } from "vuex";
import moment from "moment";
export default {
  data() {
    return {
      loading: false,
      dialogAdd: false,
      dialogDelete: false,
      dialogDetail: false,
      isEdit: false,
      deleteName: "",
      deleteId: "",
      editId: "",
      nama: "",
      no_hp: "",
      filter: "",
      column: [
        {
          name: "nama_lengkap",
          field: (row) => row.nama_lengkap,
          label: "Nama",
          align: "left",
          sortable: true,
        },
        {
          name: "sisa",
          field: (row) => row.mealbox,
          label: "Sisa mealbox",
          align: "left",
          sortable: true,
        },
        {
          name: "no_hp",
          field: (row) => row.no_hp,
          label: "No. HP",
          align: "left",
          sortable: true,
        },
        {
          name: "action",
          field: (row) => row.id,
          label: "Aksi",
          align: "left",
        },
      ],
      columnDetail: [
        {
          name: "date_created",
          field: (row) => row.date_created,
          label: "Tanggal",
          align: "left",
          sortable: true,
          format: (val, row) => this.getTime(row.date_created),
        },
        {
          name: "nama_personel",
          field: (row) => row.nama_personel,
          label: "Nama Personel",
          align: "left",
          sortable: true,
        },
        {
          name: "nama_pelanggan",
          field: (row) => row.nama_pelanggan,
          label: "Nama Pelanggan",
          align: "left",
          sortable: true,
        },
        {
          name: "id_mealbox",
          field: (row) => row.id_mealbox,
          label: "ID Mealbox",
          align: "left",
          sortable: true,
        },

        {
          name: "jenis",
          field: (row) => row.jenis,
          label: "Jenis",
          align: "left",
          sortable: true,
        },
        {
          name: "status",
          field: (row) => row.status,
          label: "Status",
          align: "left",
          sortable: true,
        },
        {
          name: "status",
          field: (row) => row.status,
          label: "Status",
          align: "left",
          sortable: true,
        },
      ],
    };
  },
  computed: {
    customerData() {
      return this.$store.state.admin.customer;
    },
    circulationDetail() {
      return this.$store.state.admin.circulation.detailByBox;
    },
  },
  created() {
    this.$store.dispatch("admin/getCustomerData");
  },
  methods: {
    toogleDialogAdd(edit = false) {
      this.isEdit = edit;
      if (!this.isEdit) {
        this.nama = "";
        this.no_hp = "";
      }
      this.dialogAdd = !this.dialogAdd;
    },
    toogleDialogDelete() {
      this.dialogDelete = !this.dialogDelete;
    },
    toogleDialogDetail() {
      this.dialogDetail = !this.dialogDetail;
    },
    required(val) {
      if (val == "") {
        return "Lengkapi terlebih dahulu";
      }
    },
    getTime(row) {
      moment.locale("id");
      return moment(row).format("dddd, Do MMMM YYYY h:mm");
    },
    async triggerDetail(id, mealboxRest) {
      this.toogleDialogDetail();
      await this.$store.dispatch("admin/getDetailCirculationByBoxData", {
        id_pelanggan: id,
        jumlah_mealbox: mealboxRest,
      });
    },
    deleteCustomer(id, name) {
      this.deleteName = name;
      this.deleteId = id;
      this.dialogDelete = true;
    },
    editCustomer(customer) {
      this.isEdit = true;
      this.editId = customer.id;
      this.nama = customer.nama_lengkap;
      this.no_hp = customer.no_hp;
      this.toogleDialogAdd(true);
    },
    async submitAddCustomer() {
      if (this.isEdit) {
        await this.$store.dispatch("admin/editCustomerData", {
          id: this.editId,
          nama: this.nama,
          no_hp: this.no_hp,
        });
        this.nama = "";
        this.no_hp = "";
        this.toogleDialogAdd();
        this.$store.dispatch("admin/getCustomerData");
      } else {
        await this.$store.dispatch("admin/addCustomerData", {
          nama: this.nama,
          no_hp: this.no_hp,
        });
        this.nama = "";
        this.no_hp = "";
        this.toogleDialogAdd();
        this.$store.dispatch("admin/getCustomerData");
      }
    },
    async submitDeleteCustomer() {
      await this.$store.dispatch("admin/deleteCustomerData", {
        id: this.deleteId,
      });
      this.deleteName = "";
      this.deleteId = "";
      this.toogleDialogDelete();
      this.$store.dispatch("admin/getCustomerData");
    },
    getMealboxColor(count) {
      if (count > 2) {
        return "bg-red";
      } else if (count > 0 && count <= 2) {
        return "bg-yellow";
      } else {
        return "";
      }
    },
    getWhatsappLink(number, name, count) {
      if (number.substring(0, 1) !== "0") {
        return `https://api.whatsapp.com/send?phone=+62${number}&text=Halo%20${name}.%0D%0AReusable%20box%20yang%20anda%20simpan%20berjumlah%20${count}%20buah.%20Harap%20segera%20kembalikan%20ya:)%0D%0A%0D%0AAutomaticly%20generated%20by%20kitchen.senjani.id `;
      } else {
        return `https://api.whatsapp.com/send?phone=+62${number.slice(
          1
        )}&text=Halo%20${name}.%0D%0AReusable%20box%20yang%20anda%20simpan%20berjumlah%20${count}%20buah.%20Harap%20segera%20kembalikan%20ya:)%0D%0A%0D%0AAutomaticly%20generated%20by%20kitchen.senjani.id `;
      }
    },
  },
};
</script>
