<template>
  <q-layout class="bg-home">
    <q-page-container class="mobile-container">
      <q-page>
        <div class="row">
          <div class="col-6 q-pa-lg">
            <p class="home-name">Hello, {{ getName() }}</p>
          </div>
          <div class="col-6">
            <q-img src="../assets/home-vec-1.png" class="home-vec-1" />
          </div>
        </div>

        <q-img src="../assets/logo.png" class="home-logo" />
        <div class="home-sheet">
          <div class="q-pa-md">
            <h6 class="text-weight-bolder q-ma-none q-pb-sm">Menu</h6>
            <div class="row">
              <div class="col-6 q-pa-sm">
                <div class="home-card" @click="homeNavigate('Pengiriman')">
                  <img src="../assets/home-vec-2.png" class="home-card-img" />
                  <p>Pengiriman mealbox</p>
                </div>
              </div>
              <div class="col-6 q-pa-sm">
                <div class="home-card" @click="homeNavigate('Penerimaan')">
                  <div style="height:75%">
                    <img src="../assets/home-vec-3.png" class="home-card-img" />
                  </div>
                  <div style="25%">
                    <p>Pengembalian mealbox</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
    };
  },
  created() {
    if (localStorage.getItem("nama_lengkap") == null) {
      this.$router.replace("login");
    }
  },
  methods: {
    homeNavigate(params) {
      this.$store.commit("mealbox/updateMealboxState", params);
      this.$router.replace("mealbox");
    },
    getName() {
      return localStorage.getItem("nama_lengkap");
    },
  },
};
</script>

<style></style>
