<template>
  <q-layout>
    <q-page-container>
      <q-page>
        <div class="login-header">
          <q-img src="../assets/login-header.png" class="login-header-img" />
        </div>
        <div class="q-pa-lg">
          <form @submit.prevent="login">
            <h6 class="login-title q-mb-md q-ml-md">Login</h6>
            <div class="senjani-input row">
              <q-icon class="col-2" name="email" size="22px" />
              <input class="col-10" type="text" placeholder="email" v-model="email" />
            </div>
            <div class="senjani-input row">
              <q-icon class="col-2" name="lock" size="22px" />
              <input class="col-10" type="password" placeholder="password" v-model="password" />
            </div>
            <div class="q-py-md"></div>
            <button type="submit" class="login-btn" v-ripple>LOGIN</button>
          </form>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { Login } from "boot/service/login";
import {
  QSpinnerFacebook,
  QSpinnerBall,
  QSpinnerTail,
  QSpinnerCube,
} from "quasar";

export default {
  name: "PageIndex",

  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    closeDialog(val) {
      this.showDialog = val;
    },
    async login() {
      this.$q.loading.show({
        spinner: QSpinnerTail,
        spinnerColor: "grey-9",
        backgroundColor: "grey-3",
      });

      let res = await Login(this.email, this.password);
      if (res["status"]) {
        localStorage.setItem("nama_lengkap", res.data.nama_lengkap);
        localStorage.setItem("id", res.data.id);
        localStorage.setItem("nama_jabatan", res.data.nama_jabatan);
        localStorage.setItem("email", res.data.email);
        this.$q.loading.hide();
        this.$router.push("home");
      } else {
        this.$q.loading.hide();
        this.$q.dialog({
          title: "Oops!",
          message: res["message"],
        });
      }
    },
  },
};
</script>
