<template>
  <q-layout>
    <q-page-container>
      <q-page>
        <div class="q-pa-lg">
          <div class="flex flex-center column">
            <q-img src="../assets/success-vec-1.png" />
            <p>Yeyy.. data yang anda masukkan telah terimpan</p>
            <button type="button" class="login-btn" v-ripple @click="backHome">Back to Home</button>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
    methods:{
        backHome(){
            this.$router.replace('home')
        }
    }
}
</script>

<style>
</style>