<template>
  <q-layout>
    <q-page-container>
      <q-page>
        <form @submit.prevent="submitMealbox">
          <h6 class="q-ma-none text-center">{{mealboxState}} Mealbox</h6>
          <div class="q-pa-lg">
            <p>Nama Pelanggan</p>

            <div class="senjani-input row">
              <q-icon class="col-2" name="account_circle" size="22px" />
              <vue-simple-suggest
                v-model="customerName"
                :list="getCustomerList"
                :filter-by-query="true"
                :styles="suggestStyle"
                :maxSuggestions="15"
              >
                <!-- Filter by input text to only show the matching results -->
              </vue-simple-suggest>
              <!-- <input class="col-10" type="text" v-model="name" /> -->
            </div>
            <div class="q-pa-md"></div>
            <p>Id Mealbox</p>
            <div class="row q-gutter-lg flex-center">
              <div v-for="(mealbox,index) in mealboxs" :key="mealbox.id">
                <div class="row mealbox-id flex-center q-gutter-sm col-3">
                  <p class="q-mb-none">{{mealbox}}</p>
                  <q-icon name="close" @click="removeMealbox(index)" />
                </div>
              </div>
              <q-icon name="add_circle" size="28px" color="green-5" v-ripple @click="addMealbox" />
            </div>
            <div class="q-pa-lg"></div>
            <button type="submit" class="login-btn" v-ripple>Submit</button>
          </div>
        </form>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { QSpinnerTail } from "quasar";
import { SubmitMealbox, GetAllCustomer } from "../boot/service/Mealbox";
import VueSimpleSuggest from "vue-simple-suggest";
import "vue-simple-suggest/dist/styles.css";
export default {
  name: "mealbox",
  components: {
    VueSimpleSuggest,
  },
  data() {
    return {
      suggestStyle: {
        defaultInput: "senjani-input-suggest",
      },
    };
  },
  computed: {
    mealboxState: {
      get() {
        return this.$store.state.mealbox.mealboxState;
      },
      set(val) {
        this.$store.commit("mealbox/updateMealboxState", val);
      },
    },
    customerData: {
      get() {
        return this.$store.state.mealbox.mealboxCustomerData;
      },
      set(val) {
        this.$store.commit("mealbox/updateMealboxCustomerdata", val);
      },
    },
    customerName: {
      get() {
        return this.$store.state.mealbox.mealboxCustomerName;
      },
      set(val) {
        this.$store.commit("mealbox/updateMealboxCustomerName", val);
      },
    },
    customerList: {
      get() {
        return this.$store.state.mealbox.mealboxCustomerList;
      },
      set(val) {
        this.$store.commit("mealbox/updateMealboxCustomerList", val);
      },
    },
    mealboxs: {
      get() {
        return this.$store.state.mealbox.mealboxData;
      },
      set(val) {
        this.$store.commit("mealbox/updateMealboxData", val);
      },
    },
  },
  methods: {
    getCustomerList() {
      return this.customerList;
    },
    addMealbox() {
      this.$router.push("scan");
    },
    removeMealbox(index) {
      let mealboxData = this.$store.state.mealbox.mealboxData;
      mealboxData.splice(index, 1);
      this.$store.commit("mealbox/updateMealboxData", mealboxData);
    },
    async submitMealbox() {
      if (this.customerName.trim().length == 0) {
        this.$q.dialog({
          title: "Oops!",
          message: "Kamu belum memasukkan nama pelanggan",
        });
        return;
      }
      if (this.$store.state.mealbox.mealboxData.length == 0) {
        this.$q.dialog({
          title: "Oops!",
          message: "Kamu belum melakukan scan mealbox",
        });
        return;
      }
      this.$q.loading.show({
        spinner: QSpinnerTail,
        spinnerColor: "grey-9",
        backgroundColor: "grey-3",
      });
      let mealboxData = this.$store.state.mealbox.mealboxData;
      let customerId;
      this.customerData.forEach((element) => {
        if (element["nama_lengkap"] == this.customerName) {
          customerId = element["id"];
        }
      });
      let mealboxState = this.$store.state.mealbox.mealboxState;
      let status;
      if (mealboxState == "Penerimaan") {
        status = "masuk";
      } else {
        status = "keluar";
      }
      console.log(mealboxData);
      let res = await SubmitMealbox(mealboxData, customerId, status);
      this.$q.loading.hide();
      if (res["status"]) {
        this.$q.dialog({
          title: "Sukses",
          message: "Data berhasil ditambahkan",
        });
        this.$store.commit("mealbox/updateMealboxData", []);
        this.$store.commit("mealbox/updateMealboxCustomerName", "");
        this.name = "";
      }
    },
  },
  mounted: async function () {
    this.mealboxState = this.$store.state.mealbox.mealboxState;
    if (this.$store.state.mealbox.mealboxCustomerList.length == 0) {
      let res = await GetAllCustomer();
      this.$store.commit("mealbox/updateMealboxCustomerData", res.data);
      res.data.forEach((element) => {
        let temp = this.$store.state.mealbox.mealboxCustomerList;
        temp.push(element["nama_lengkap"]);
        this.$store.commit("mealbox/updateMealboxCustomerList", temp);
      });
    }
  },
};
</script>

<style>
</style>