<template>
  <q-layout>
    <q-page-container>
      <q-page>
        <div class="scan-back flex flex-center" @click="back">
          <q-icon name="arrow_back" size="24px" />
        </div>
        <div class="scan-alert flex-center flex" v-if="isAlertShow">
          <p class="q-mb-none">{{alertMessage}}</p>
        </div>
        <div class="scan-container">
          <qrcode-stream @decode="onDecode"></qrcode-stream>
        </div>
        <div class="scan-sheet">
          <form @submit.prevent="submitQR">
            <div class="column flex flex-center">
              <h6>QR Code tidak terbaca?</h6>
              <input type="text" placeholder="Isi manual" class="scan-input" v-model="mealboxId" />
            </div>
            <div class="q-pa-md"></div>
            <button type="submit" class="login-btn" v-ripple>Submit</button>
          </form>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import VueQrcodeReader from "vue-qrcode-reader";
import Vue from "vue";
import { CheckMealboxId, GetAllCustomer } from "../boot/service/Mealbox";

Vue.use(VueQrcodeReader);
export default {
  data() {
    return {
      data: "",
      mealboxId: "",
      isAlertShow: false,
      alertMessage: "",
    };
  },

  methods: {
    back() {
      this.$router.go(-1);
    },
    async onDecode(decodedString) {
      let mealboxData = this.$store.state.mealbox.mealboxData;
      let isExistInDb = false;
      let res = await CheckMealboxId(decodedString);
      if (!res["status"]) {
        this.showAlert(res["message"]);
        return;
      }
      let isExist = false;
      mealboxData.forEach((element) => {
        if (element.toString() == decodedString) {
          isExist = true;
        }
      });

      if (isExist) {
        this.showAlert("Mealbox sudah dalam antrian");
      } else {
        this.isAlertShow = false;
        mealboxData.push(decodedString);
        this.$store.commit("mealbox/updateMealboxData", mealboxData);
        this.$router.go(-1);
      }
    },
    showAlert(message) {
      this.alertMessage = message;
      this.isAlertShow = true;
      setTimeout(() => {
        this.isAlertShow = false;
      }, 3000);
    },
    submitQR() {
      this.onDecode(this.mealboxId);
    },
  },
};
</script>

<style lang="scss" scoped>
.scan-back {
  background-color: white;
  width: 50px;
  height: 50px;
  left: 15px;
  top: 15px;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 10000;
}
.scan-alert {
  transition: all 0.3s ease-in-out;
  background-color: $negative;
  z-index: 10000;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  top: 4vh;
  left: 35vw;
  color: white;
}
.scan-container {
  height: 70vh;
  width: 100vw;
}
.scan-sheet {
  height: 40vh;
  overflow: scroll;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 20px 20px 0 0;
}
.scan-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: $primary;
  border-bottom-width: 1px;
  text-align: center;
  padding: 8px;
}
.scan-sheet::-webkit-scrollbar-track {
  display: none;
}
.scan-input:focus {
  outline: none;
}
</style>