<template>
  <q-layout>
    <q-page-container>
      <q-page class="splash-bg">
        <div class="flex flex-center q-pa-lg" style="height: 100vh;">
          <q-img src="../assets/logo.png" class="splash-img" />
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  mounted: function() {
    let id = localStorage.getItem("id");
    console.log(id);
    setTimeout(() => {
      if (id != null && id != undefined) {
        this.$router.replace("home");
      } else {
        this.$router.replace("login");
      }
    }, 3000);
  }
};
</script>

<style lang="scss" scoped>
.splash-bg {
  background-color: $primary;
}
.splash-img {
  display: block;
  margin: auto;
  max-width: 200px;
  height: auto;
}
</style>
