<template>
  <q-layout>
    <q-page-container>
      <q-page class="q-pa-lg">
        <h5 class="text-center">Daftar Personel</h5>
        <q-btn
          color="primary"
          icon="add"
          @click="toogleDialogAdd(false)"
          padding="xs xs"
          class="q-mt-md q-mb-md block q-ml-auto q-mr-none"
        />
        <q-table
          title="Pelanggan"
          :loading="teamData.status.loading"
          :data="teamData.data.data"
          :columns="column"
          :filter="filter"
          no-data-label="No data found"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="nama_lengkap" :props="props">{{ props.row.nama_lengkap }}</q-td>
              <q-td key="email" :props="props">{{ props.row.email }}</q-td>
              <q-td key="jabatan" :props="props">{{ props.row.jabatan }}</q-td>
              <q-td key="action" :props="props">
                <q-icon name="create" color="primary" size="sm" @click="editTeam(props.row)" />
                <!-- <q-icon
                  name="delete"
                  color="red"
                  size="sm"
                  @click="deleteTeam(props.row.id, props.row.nama_lengkap)"
                />-->
              </q-td>
            </q-tr>
          </template>
          <template v-slot:loading>
            <q-inner-loading showing color="primary" />
          </template>
          <template v-slot:top>
            <h6 class="q-ma-none">Personel</h6>
            <q-space />
            <q-input
              borderless
              dense
              debounce="300"
              color="primary"
              v-model="filter"
              placeholder="Search"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
        </q-table>

        <!-- <q-btn
          color="primary"
          icon="add"
          @click="toogleDialogAdd"
          label="Jabatan"
          padding="xs xs"
          class="q-mt-md q-ml-md"
        />-->
        <q-dialog v-model="dialogAdd" position="bottom">
          <q-card style="width: 350px">
            <q-card-section class="row items-center no-wrap">
              <div>
                <h6 class="q-mt-none q-mb-sm">{{ isEdit?'Edit Personel':'Tambah Personel' }}</h6>
                <q-form @submit.prevent="submitAddTeam">
                  <q-input v-model="nama" label="Nama Lengkap" :rules="[required]" type="text" />
                  <q-select
                    v-model="jabatan"
                    :rules="[required]"
                    :options="roleData.data.data"
                    :option-value="
                      opt =>
                        Object(opt) === opt && 'id' in opt ? opt.id : null
                    "
                    :option-label="
                      opt =>
                        Object(opt) === opt && 'nama_jabatan' in opt
                          ? opt.nama_jabatan
                          : ''
                    "
                    label="Jabatan"
                  >
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-italic text-grey">No data found</q-item-section>
                      </q-item>
                    </template>
                  </q-select>
                  <q-input v-model="email" label="Email" :rules="[required]" type="email" />
                  <q-input
                    v-if="!isEdit"
                    v-model="password"
                    label="Password"
                    :rules="[required]"
                    type="password"
                  />

                  <q-btn
                    label="Tambahkan"
                    icon-right="send"
                    color="primary"
                    class="q-mt-md"
                    :loading="teamData.add.status.loading"
                    padding="xs"
                    type="submit"
                  >
                    <template v-slot:loading>
                      <q-spinner />
                    </template>
                  </q-btn>
                </q-form>
              </div>

              <q-space />
            </q-card-section>
          </q-card>
        </q-dialog>

        <q-dialog v-model="dialogDelete" title="Apakah kamu yakin?">
          <q-card>
            <q-card-section class="items-center no-wrap">
              <h6 class="q-mt-none q-mb-sm">Apakah kamu yakin?</h6>
              <p>Kamu akan menghapus {{ deleteName }} dari daftar personel</p>
            </q-card-section>
            <q-card-actions align="right">
              <q-btn color="secondary" label="Cancel" @click="toogleDialogDelete" />
              <q-btn
                color="primary"
                label="OK"
                @click="submitDeleteTeam"
                :loading="teamData.delete.status.loading"
              >
                <template v-slot:loading>
                  <q-spinner />
                </template>
              </q-btn>
            </q-card-actions>
          </q-card>
        </q-dialog>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
      dialogAdd: false,
      dialogDelete: false,
      editId: "",
      deleteName: "",
      deleteId: "",
      nama: "",
      jabatan: "",
      idJabatanEdit: "",
      email: "",
      password: "",
      filter: "",
      isEdit: false,
      column: [
        {
          name: "nama_lengkap",
          field: (row) => row.nama_lengkap,
          label: "Nama",
          align: "left",
          sortable: true,
        },
        {
          name: "email",
          field: (row) => row.email,
          label: "email",
          align: "left",
          sortable: true,
        },

        {
          name: "jabatan",
          field: (row) => row.nama_jabatan,
          label: "jabatan",
          align: "left",
          sortable: true,
        },
        {
          name: "action",
          field: (row) => row.id,
          label: "Aksi",
          align: "center",
        },
      ],
    };
  },
  computed: {
    teamData() {
      return this.$store.state.admin.team;
    },
    roleData() {
      return this.$store.state.admin.role;
    },
  },
  created() {
    this.$store.dispatch("admin/getTeamData");
    this.$store.dispatch("admin/getRoleData");
  },
  methods: {
    toogleDialogAdd(edit = false) {
      this.isEdit = edit;

      this.dialogAdd = !this.dialogAdd;
    },
    toogleDialogDelete() {
      this.dialogDelete = !this.dialogDelete;
    },
    required(val) {
      if (val == "") {
        return "Lengkapi terlebih dahulu";
      }
    },
    deleteTeam(id, name) {
      this.deleteId = id;
      this.deleteName = name;
      this.toogleDialogDelete();
    },
    editTeam(team) {
      this.isEdit = true;
      this.editId = team.id;
      this.nama = team.nama_lengkap;
      this.email = team.email;
      this.toogleDialogAdd(true);
    },
    submitDeleteTeam() {
      console.log("delete");
    },
    async submitDeleteTeam() {
      await this.$store.dispatch("admin/deleteTeamData", {
        id: this.deleteId,
      });
      this.deleteName = "";
      this.deleteId = "";
      this.toogleDialogDelete();
      this.$store.dispatch("admin/getTeamData");
    },
    async submitAddTeam() {
      if (this.isEdit) {
        await this.$store.dispatch("admin/editTeamData", {
          id: this.editId,
          nama_lengkap: this.nama,
          id_jabatan: this.jabatan.id,
          email: this.email,
        });
        if (this.teamData.add.data.status) {
          this.nama = "";
          this.id_jabatan = "";
          this.email = "";
          this.password = "";
          this.toogleDialogAdd();
          this.$store.dispatch("admin/getTeamData");
        } else {
          this.$q.dialog({
            title: "Oops!",
            message: this.teamData.add.data.message,
          });
        }
      } else {
        await this.$store.dispatch("admin/addTeamData", {
          nama_lengkap: this.nama,
          id_jabatan: this.jabatan.id,
          email: this.email,
          password: this.password,
        });
        if (this.teamData.add.data.status) {
          this.nama = "";
          this.id_jabatan = "";
          this.email = "";
          this.password = "";
          this.toogleDialogAdd();
          this.$store.dispatch("admin/getTeamData");
        } else {
          this.$q.dialog({
            title: "Oops!",
            message: this.teamData.add.data.message,
          });
        }
      }
    },
  },
};
</script>

<style></style>
