// app global css in SCSS form\

//-------------DRAWER--------------------//
.bg-drawer {
  background-image: url("../assets/drawer-bg.png");

  background-size: 100%;
  background-position-y: 30%;
  background-repeat: no-repeat;
  background-color: transparent !important;
  // height: 125px;
}
@media (max-width: 736px) {
  .bg-drawer {
    height: 100px;
  }
}
.drawer-btn {
  color: white;
}
.drawer-img {
  width: 110px;
  margin: 0 auto 0 auto;
  display: block;
}

//-------------------LOGIN-----------------//
.login-header {
  height: 45vh;
}
.login-header-img {
  width: 75%;
  max-width: 400px;
  right: 0;
  position: absolute;
}
.login-title {
  font-weight: 900;
}
@media (min-width: 736px) {
  .login-title {
    text-align: center;
  }
}
.senjani-input {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  // min-width: 200px;
  // max-width: 400px;
  padding: 10px;
  width: 80vw;
  max-width: 500px;
  border-radius: 30px;
  border-bottom: none !important;
  margin: 0 auto 1em auto;
}
.senjani-input-suggest {
  width: 100% !important;
  padding: 0px !important;
  border: none !important;
}
.senjani-input-suggest:focus {
  outline: none;
}

.senjani-input input {
  border: none;
}
.senjani-input input:focus {
  outline: none;
}
.login-btn {
  width: 60vw;
  max-width: 400px;
  background-color: $primary;
  color: white;
  padding: 10px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 30px;
  position: relative;
}
.login-btn:focus {
  outline: none;
}
//------------- END OF LOGIN ----------------//

//------------- HOME ----------------------//

.mobile-container {
  width: 100vw;
  max-width: 400px;
  display: block;
  margin: 0 auto 0 auto;
  position: relative;
}
.bg-home {
  background-color: $primary;
  height: 100vh;
}
.home-name {
  color: $tertiary;
  font-size: 1.2em;
}
.home-vec-1 {
  max-height: 200px;
}
.home-logo {
  margin: 5em auto 5em auto;
  width: 75vw;
  max-width: 400px;
  display: block;
}
.home-sheet {
  position: absolute;
  bottom: 0;
  top: 50vh;
  background-color: white;
  border-radius: 20px 20px 0 0;
  height: 50vh;
  overflow: auto;
}
.home-card {
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: block;
  margin: auto;
  min-height: 150px;
  max-width: 250px;
  // max-height: 300px;
  transition: all ease-in-out 0.3s;
}
.home-card:hover {
  transition: all ease-in-out;
  transform: translateY(10px);
}
.home-card-img {
  width: 100%;
  object-fit: cover;

  min-height: 100px;

  display: block;
  margin: auto;
}

.home-card p {
  margin-top: 5px;
  text-align: center;
}

//------------- END OF HOME ----------------//

//------------MEALBOX----------------//

.mealbox-id {
  padding: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

//----------------END OF MEALBOX---------------//
