<template>
  <q-layout>
    <q-header class="bg-drawer">
      <q-toolbar>
        <q-btn flat @click="drawer = !drawer" round dense icon="menu" />
        <q-space />
        <q-img class="drawer-img" src="../assets/logo.png" />
      </q-toolbar>
    </q-header>

    <q-drawer v-model="drawer" show-if-above :width="250" :breakpoint="736">
      <q-scroll-area
        style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd"
      >
        <q-list padding>
          <q-item clickable v-ripple @click="navigateHome">
            <q-item-section avatar>
              <q-icon name="home" />
            </q-item-section>

            <q-item-section>Home</q-item-section>
          </q-item>

          <q-item
            active
            clickable
            v-ripple
            @click="navigateMealbox('Pengiriman')"
          >
            <q-item-section avatar>
              <q-icon name="send" />
            </q-item-section>

            <q-item-section>Scan Pengiriman</q-item-section>
          </q-item>

          <q-item clickable v-ripple @click="navigateMealbox('Penerimaan')">
            <q-item-section avatar>
              <q-icon name="reply" />
            </q-item-section>

            <q-item-section>Scan Penerimaan</q-item-section>
          </q-item>

          <q-item
            v-if="role == 'Admin'"
            clickable
            v-ripple
            @click="navigateTeam()"
          >
            <q-item-section avatar>
              <q-icon name="supervisor_account" />
            </q-item-section>

            <q-item-section>Personel</q-item-section>
          </q-item>

          <q-item
            v-if="role == 'Admin'"
            clickable
            v-ripple
            @click="navigateCustomer()"
          >
            <q-item-section avatar>
              <q-icon name="account_circle" />
            </q-item-section>

            <q-item-section>Pelanggan</q-item-section>
          </q-item>

          <q-item
            v-if="role == 'Admin'"
            clickable
            v-ripple
            @click="navigateBox()"
          >
            <q-item-section avatar>
              <q-icon name="inbox" />
            </q-item-section>

            <q-item-section>Mealbox</q-item-section>
          </q-item>

          <q-item
            v-if="role == 'Admin'"
            clickable
            v-ripple
            @click="navigateCirculation()"
          >
            <q-item-section avatar>
              <q-icon name="autorenew" />
            </q-item-section>

            <q-item-section>Sirkulasi</q-item-section>
          </q-item>

          <q-item clickable v-ripple @click="logout">
            <q-item-section avatar>
              <q-icon name="exit_to_app" />
            </q-item-section>

            <q-item-section>Logout</q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>

      <q-img
        class="absolute-top"
        src="https://cdn.quasar.dev/img/material.png"
        style="height: 150px"
      >
        <div class="absolute-bottom bg-transparent">
          <q-avatar size="56px" class="q-mb-sm">
            <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
          </q-avatar>
          <div class="text-weight-bold">{{ nama_lengkap }}</div>
          <div>{{ email }}</div>
        </div>
      </q-img>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import Home from "../pages/Home";

export default {
  name: "MainLayout",

  components: {
    Home
  },

  data() {
    return {
      drawer: false,
      nama_lengkap: "",
      email: ""
    };
  },
  created() {
    if (localStorage.getItem("nama_lengkap") == null) {
      this.$router.replace("login");
    }
  },
  computed: {
    role() {
      return localStorage.getItem("nama_jabatan");
    }
  },
  methods: {
    logout() {
      localStorage.clear();
      this.$router.replace("login");
    },
    navigateHome() {
      this.toogleDrawer();
      if (this.$router.currentRoute.path.toString() != "/home") {
        this.$router.replace("home");
      }
    },
    navigateMealbox(params) {
      this.toogleDrawer();
      if (this.$router.currentRoute.path.toString() != "/mealbox") {
        this.$router.replace("mealbox");
      }
      this.$store.commit("mealbox/updateMealboxState", params);
    },
    navigateTeam() {
      this.toogleDrawer();
      if (this.$router.currentRoute.path.toString() != "/team") {
        this.$router.replace("team");
      }
    },
    navigateCustomer() {
      this.toogleDrawer();
      if (this.$router.currentRoute.path.toString() != "/customer") {
        this.$router.replace("customer");
      }
    },
    navigateBox() {
      this.toogleDrawer();
      if (this.$router.currentRoute.path.toString() != "/box") {
        this.$router.replace("box");
      }
    },
    navigateCirculation() {
      this.toogleDrawer();
      if (this.$router.currentRoute.path.toString() != "/circulation") {
        this.$router.replace("circulation");
      }
    },
    toogleDrawer() {
      this.drawer = !this.drawer;
    }
  },
  mounted: function() {
    this.nama_lengkap = localStorage.getItem("nama_lengkap");
    this.email = localStorage.getItem("email");
  }
};
</script>
